.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .img {
    width: 135px;
    height: 135px;
  }

  .description {
    font-size: 14px;
    font-weight: 500;
    color: #7b7b7b;
  }
}
