$ink_600: #21232b;
$ink_500: #2d3037;
$ink_400: #3d434a;
$ink_300: #727e8b;
$ink_200: #b5bdc6;
$ink_100: #e2e6ec;
$ink_50: #f5f6f7;

$black_600: #200e32;
$black_500: #131313;
$black_400: #7b7b7b;
$black_300: #b0b0b0;
$black_200: #d0d0d0;
$black_100: #dadada;
$black_50: #f5f5f5;

$white: #ffffff;

$primary_600: rgb(12, 47, 38);
$primary_500: #114739;
$primary_400: #175e4c;
$primary_300: #8bafa6;
$primary_200: #c5d7d2;
$primary_100: #e8efed;
$primary_50: #f3f7f6;

$info_600: #1e4d74;
$info_500: #2e74ae;
$info_400: #3d9ae8;
$info_300: #9ecdf4;
$info_200: #cee6f9;
$info_100: #ecf5fd;
$info_50: #f5fafe;

$success_700: #367464;
$success_600: #18672c;
$success_500: #239b41;
$success_400: #2fce56;
$success_300: #97e7ab;
$success_200: #cbf3d5;
$success_100: #eafaee;
$success_50: #f5fdf7;

$warning_600: #7c431a;
$warning_500: #ba6427;
$warning_400: #f88634;
$warning_300: #fcc299;
$warning_200: #fde1cc;
$warning_100: #fef3eb;
$warning_50: #fff9f5;

$danger_600: #802d30;
$danger_550: #da3006;
$danger_500: #bf4347;
$danger_400: #ff5a5f;
$danger_300: #ffacaf;
$danger_200: #ffd6d7;
$danger_100: #ffeeef;
$danger_50: #fff7f7;

$yellow_600: rgb(128, 96, 0);
$yellow_500: rgb(191, 145, 0);
$yellow_400: #ffc100;
$yellow_300: #ffe080;
$yellow_200: #ffefbf;
$yellow_100: #fff9e5;
$yellow_50: #fffcf2;

$brown_600: #402714;
$brown_500: #603a1f;
$brown_400: #804d29;
$brown_300: #bfa694;
$brown_200: #dfd3c9;
$brown_100: #f2edea;
$brown_50: #f9f6f4;

$indigo_600: rgb(15, 18, 47);
$indigo_500: #161a47;
$indigo_400: #1e235e;
$indigo_300: #8e91af;
$indigo_200: #c7c8d7;
$indigo_100: #e8e9ef;
$indigo_50: #f4f4f7;

$purple_600: #451671;
$purple_500: #6820a9;
$purple_400: #8a2be2;
$purple_300: #c595f0;
$purple_200: #e2caf8;
$purple_100: #f3eafc;
$purple_50: #f9f4fe;

$misc_bglight: #f2f3f4;
$misc_link: #2f6bff;

$light_grey: #fafafa;
$athens_grey: #fafafb;

$brand_light: #118164;

$border_input_100: #d9d9d9;
